@font-face {
    font-family: 'Arial-MT';
    src: url("assets/fonts/Arial-MT.woff");
    font-style: normal;
	font-weight: normal;
  }
* {
box-sizing: border-box;
}

body {
    padding:10px;
    font-size: 22px;
    margin:0;
    background: url('assets/home.png') center/cover;
background-blend-mode: multiply;
width:100vw;
min-height:100vh;

    
}